@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 5rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.3);
  color: white;
}

.app:before {
  content: '';
  background: url('../public/images/weather_fields.jpg') no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 3rem;
  position: relative;
  top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255,255,255, 0.1);
}

.bold {
  font-weight: 900;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.1);
  color: white;
}

::placeholder {
  color:antiquewhite
}